In [ ]:
import pandas as pd
df = pd.read_csv('customer_shopping_behavior.csv')
df.head()
df.describe()
df.info()
df.isnull().sum()
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x : x.fillna(x.median()))
df.isnull().sum()
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns
df = df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
df.columns
labels = ["young_adult","adult","middle_aged","senior"]
df['age_group'] = pd.qcut(df['age'],q=4,labels=labels)
df[['age','age_group']].head(10)
frequency = {'Fortnightly': 14,'Weekly' : 7, 'Monthly' : 30,'Quarterly':90,'Bi-Weekly':14,'Annually': 365,'Every 3 Months' : 90}
df['purchase_days']=df['frequency_of_purchases'].map(frequency)
df[['purchase_days','frequency_of_purchases']].head(20)
(df['discount_applied']==df['promo_code_used']).all()
df = df.drop('promo_code_used',axis = 1)
df.columns

df.to_csv('customer100.csv')
df.head(2000)
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "trisha123"
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)
pd.read_sql("SELECT * FROM customer LIMIT 20;", engine)from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "trisha123"
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)
pd.read_sql("SELECT * FROM customer LIMIT 20;", engine)

<class 'pandas.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   str
 3   Item Purchased          3900 non-null   str
 4   Category                3900 non-null   str
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   str
 7   Size                    3900 non-null   str
 8   Color                   3900 non-null   str
 9   Season                  3900 non-null   str
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   str
 12  Shipping Type           3900 non-null   str
 13  Discount Applied        3900 non-null   str
 14  Promo Code Used         3900 non-null   str
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   str
 17  Frequency of Purchases  3900 non-null   str
dtypes: float64(1), int64(4), str(13)
memory usage: 548.6 KB

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,young_adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,young_adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,middle_aged,365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,67,Male,Boots,Footwear,80,Missouri,S,Teal,Spring,3.0,No,Standard,No,29,Debit Card,Quarterly,senior,90
1996,1997,67,Male,Sneakers,Footwear,27,South Dakota,L,Indigo,Summer,3.3,No,Next Day Air,No,18,Cash,Every 3 Months,senior,90
1997,1998,42,Male,Backpack,Accessories,25,Connecticut,M,Purple,Fall,4.7,No,Express,No,10,Debit Card,Bi-Weekly,adult,14
1998,1999,20,Male,Pants,Clothing,45,Vermont,M,Orange,Fall,3.4,No,2-Day Shipping,No,19,Cash,Quarterly,young_adult,90
1999,2000,39,Male,Socks,Clothing,89,Tennessee,L,Indigo,Winter,4.6,No,2-Day Shipping,No,26,Debit Card,Monthly,adult,30

In [ ]:
from sqlalchemy import create_engine

# MySQL connection
username = "root"
password = "trisha123"
host = "localhost"
port = "3306"
database = "customer_behavior"

engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write DataFrame to MySQL
table_name = "customer"   # choose any table name
df.to_sql(table_name, engine, if_exists="replace", index=False)
pd.read_sql("SELECT * FROM customer LIMIT 20;", engine)